/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input.error {
    border: 2px solid red;
}

button {
    padding: 10px;
    border: none;
    background-color: #22c71c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #4cae4c;
}

#filters button {
    background-color: #1142ac;
}

#filters button:hover {
    background-color: #4b9be0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border-radius: 4px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

li.completed .circle {
    border: 2px solid #5cb85c;
    background-color: #5cb85c;
    color: white;
    position: relative;
}

li.completed .circle::after {
    content: '✔';
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li .deleteBtn {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

li .deleteBtn:hover {
    background-color: #c9302c;
}

#errorMsg {
    color: red;
    margin-top: 10px;
}

